<% if @post.comments.count > 0  %>
  <p class="mb-2 mt-2">コメント<i class="far fa-comment fa-fw"></i><%= @post.comments.count %></p>
  <hr class="m-0">
  <% comments.each do |comment| %>
    <div class="p-2">
      <div class="d-flex justify-content">
        <%= render 'users/user_image', user: comment.user %>
        <div class="pl-3">
          <%=link_to comment.user.name, comment.user %>
          <p class="m-0"><small class="text-muted"><%= comment.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M") %></small></p>
          <%= simple_format comment.content %>
          <% if comment.user == current_user%>
            <div id="deleted_comment_button" class="mt-1">
              <%= link_to post_comment_path(@post, comment), method: :delete, data: { confirm: "You sure?" }, class: "", local: true do %>
                コメント削除
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr class="m-0">
  <% end %>
<% else %>
  <p class="mt-3 pt-3 pb-3 no-comments">まだコメントはありません。</p>
<% end %>

