<div id="follow_<%= user.id %>" class="follow_button">
  <% if logged_in? %>
    <% unless current_user == user %>
      <% if current_user.following?(user) %>
        <%= form_with(model: current_user.relationships.find_by(follow_id: user.id), remote: true, method: :delete) do |f| %>
          <%= hidden_field_tag :follow_id, user.id %>
          <%= button_tag(type: "submit", class: 'unfollow') do %>
            <p>フォロー中</p>
          <% end %>
        <% end %>
      <% else %>
        <%= form_with(model: current_user.relationships.build, remote: true) do |f| %>
          <%= hidden_field_tag :follow_id, user.id %>
          <%= f.submit 'フォローする', class: 'follow' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>