<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media" id="user-<%= user.id %>">
        <%= render 'users/user_image', user: user %>
        <div class="media-body">
          <h5 class="mt-0"><%= user.name %></h5>
          <p class="user_introduction"><%= user.introduction %></p>
        </div>
        <%= render 'relationships/follow_button', user: user %>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>

