<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media mb-1">
        <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <h5 class="mt-0"><%= link_to user.name, user_path(user) %></h5>
          <p class="user_introduction"><%= user.introduction %></p>
          
        </div>
        <%= render 'relationships/follow_button', user: user %>
      </li>
    <% end %>
  </ul>
  <!--<%= paginate users %>-->
<% end %>

