<div class="container">
  <h1><%= @user.name %>の詳細ページ</h1>
  <%= render 'relationships/follow_button', user: @user %>
  <p>Followings <span class="badge badge-secondary"><%= @count_followings %></span></p>
  <p>Followers <span class="badge badge-secondary"><%= @count_followers %></span></p>
  <p>posts <span class="badge badge-secondary"><%= @count_posts %></span></p>
  
  <% if current_user == @user %>
    <div class="btn btn-light">
      <%=link_to 'ユーザー情報を編集する', edit_user_path(@user) %>
    </div>
  <% end %>
  
  <p>過去の投稿</p>
  <%= render 'posts/posts', posts: @posts %>
  
  
</div>