<ul class="list-unstyled m-0 mb-4" id="flex-container">
  <% @posts_header.each do |post| %>
    <li class="flex-container-item">
      <%= link_to post do %>
        <% if post.image? %>
          <%= image_tag post.image.url %>
        <% elsif %>
          <%= image_tag ('/no_post_image.png') %>
        <% end %>
      <% end %>
      <p class="flex-container-item-post-title p-2"><%=link_to post.title, post %></p>
      <p class="flex-container-item-post-user p-2"><%= link_to post.user.name, user_path(post.user) %></p>
      <div class="flex-container-item-post-item d-flex justify-content-between">
        <p class="m-0"><small><i class="fas fa-eye fa-fw"></i> <%= post.impressionist_count %></small></p>
        <p class="m-0 ml-3"><small><i class="fas fa-heart fa-fw"></i> <%= post.favorites.count %></small></p>
        <p class="m-0 ml-3"><small><i class="far fa-comment fa-fw"></i> <%= post.comments.count %></small></p>
      </div>
    </li>
  <% end %>
</ul>

<div class="toppage">
  <div class="toppage-post">
    <div class="toppage-top">
      <h5>ランキング</h5>
      <%= link_to 'もっと見る', ranking_path %>
    </div>
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <div class="toppage-user">
    <div class="toppage-top">
      <h5>おすすめユーザー</h5>
      <%= link_to 'もっと見る', users_path %>
    </div>
    <%= render 'users/users', users: @users %>
  </div>
</div>