<ul class="list-unstyled skill-list jscroll">
  <% posts.each do |post| %>
  <li class="post-index" id="post-<%= post.id %>">
    <div class="pt-2 pb-2">
      <div class="d-flex">
        <div class="trim-post-image m-0">
          <%= render 'posts/post_image', post: post %>
        </div>
        <div class="pl-3 post-title">
          <h5 class="mb-0"><%=post.title %></h5>
          <div class="post-bottom">
            <div class="d-flex justify-content-content">
              <p class="m-0 post_user_name"><small class="text-muted">投稿者：<%= link_to post.user.name, user_path(post.user) %></small></p>
              <p class="m-0 ml-3">
                <small class="text-muted">
                  投稿日：<%= post.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M") %>
                </small>
                <small class="text-muted">・<%= time_ago_in_words(post.created_at) %></small>
              </p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-between">
                <p class="m-0" data-toggle="tooltip" data-original-title="閲覧数"  data-placement="bottom"><small class="text-muted"><i class="fas fa-eye fa-fw"></i><%= post.impressionist_count %></small></p>
                <p class="m-0 ml-3" data-toggle="tooltip" data-original-title="お気に入り数"  data-placement="bottom"><small class="text-muted"><i class="fas fa-heart fa-fw"></i><%= post.favorites.count %></small></p>
                <p class="m-0 ml-3" data-toggle="tooltip" data-original-title="コメント数"  data-placement="bottom"><small class="text-muted"><i class="far fa-comment fa-fw"></i><%= post.comments.count %></small></p>
              </div>
            </div>
          </div>
         </div>
      </div>
        
    </div>
    <hr class="m-0">
  </li>
  <% end %>
</ul>
<% unless controller.action_name == "ranking" %>
  <%= paginate posts, :param_name => 'post_page' %>
<% end %>