<div class="container">
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_area :title, class: 'form-control' %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
    <div class="row justify-content-center">
      <%= link_to "戻る", :back, class: 'btn btn-outline-secondary'%>
      <%= f.submit '投稿する', class: 'btn btn-primary ml-3' %>
    </div>
  <% end %>
    
</div>