<div class="row justify-content-center">
  <div class="col-md-6">
    
    <%= form_with(model: @post, local: true) do |f| %>
    
      <div class="form-group">
        <div>
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, placeholder: "タイトルを入力", class: 'form-control' %>
        </div>
        <div>
          <%=f.label :image,"サムネイル画像" %>
          <div class="trim-post-image-lg">
            <img id="aavatar_img_prev" src="#" class="hidden">
            <% if @post.image? %>
              <%= image_tag @post.image.url, class: 'aavatar_present_img' %>
            <% elsif %>
              <%= image_tag ('/no_post_image.png'), class: 'aavatar_present_img' %>
            <% end %>
          </div>
          <div>
            <%= f.file_field :image, id: 'apost_img' %>
            <%= f.check_box :remove_image %>画像を削除する
          </div>
        </div>
        <div>
          <%= f.label :content, "本文" %>
          <%= f.text_area :content, placeholder: "本文を入力", class: 'form-control', rows: 15 %>
        </div>
      </div>
      <div class="button-set">
        <%= link_to "キャンセル", :back, class: 'cancel-button'%>
        <%= f.submit '投稿する', class: 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>