<div class="row justify-content-center">
  <div class="col-md-6">
    <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-group">
        <%=f.label :image,"サムネイル画像" %>
        <%= f.file_field :image %>
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "タイトルを入力", class: 'form-control' %>
        <%= f.label :category %>
        <div>
          <label><%= f.radio_button :category, "衣" %> 衣 </label>
          <label><%= f.radio_button :category, "食" %> 食 </label>
          <label><%= f.radio_button :category, "住" %> 住 </label>
          <label><%= f.radio_button :category, "その他" %> その他 </label>
        </div>
        <%= f.label :content %>
        <%= f.text_area :content, placeholder: "本文を入力", class: 'form-control', rows: 15 %>
      </div>
      <div class="row justify-content-center">
        <%= link_to "戻る", :back, class: 'btn btn-outline-secondary'%>
        <%= f.submit '投稿する', class: 'btn btn-primary ml-3' %>
      </div>
    <% end %>
  </div>
</div>