<div class="row justify-content-center">
  <div class="col-md-6 post_show mt-3">
    <h2 class="mb-0"><%=@post.title %></h2>
    <div class="d-flex">
      <%= render 'users/user_image', user: @post.user %>
      <div class="pl-3 post-title">
        
          <p class="m-0">投稿者：<%= link_to @post.user.name, user_path(@post.user) %></p>
          <p class="m-0">投稿日：<%= @post.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M") %></p>
          <div class="d-flex justify-content-content">
          <p class="m-0"><i class="fas fa-heart fa-fw"></i><%= @post.favorites.count %></p>
          <p class="m-0 ml-3"><i class="far fa-comment fa-fw"></i><%= @post.comments.count %></p>
        </div>
      </div>
    </div>
    <%= render 'posts/posts_button', post: @post %>
    <div class="trim-post-image-lg">
      <%= render 'posts/post_image', post: @post %>
    </div>
    <p><%= simple_format @post.content %></p>
    <hr>
    
    <p>コメント<i class="far fa-comment fa-fw"></i><%= @post.comments.count %></p>
      <div class="bg-light">
        <%= render 'comments/form', post: @post, comment: @comment %>
      </div>
      <%= render 'comments/index', comments: @comments %>
    
  </div>
</div>
  