<div class="post_show p-2">
  <div class="d-flex">
    <%= render 'users/user_image', user: @post.user %>
    <div class="pl-3 post-title">
      <p class="m-0">投稿者：<%= link_to @post.user.name, user_path(@post.user) %></p>
      <p class="m-0">投稿日：<%= @post.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M") %>・<%= time_ago_in_words(@post.created_at) %></p>
      <div class="d-flex justify-content-first">
        <p class="m-0" data-toggle="tooltip" data-original-title="閲覧"  data-placement="bottom"><i class="fas fa-eye fa-fw"></i> <%= @post.impressionist_count %></p>
        <p class="m-0 ml-3" data-toggle="tooltip" data-original-title="お気に入り"  data-placement="bottom"><i class="fas fa-heart fa-fw"></i> <%= @post.favorites.count %></p>
        <p class="m-0 ml-3" data-toggle="tooltip" data-original-title="コメント"  data-placement="bottom"><i class="far fa-comment fa-fw"></i> <%= @post.comments.count %></p>
      </div>
    </div>
  </div>
  <%= render 'posts/posts_button', post: @post %>
  <div class="post-show-title-favorite d-flex justify-content-between">
    <h2><%=@post.title %></h2>
    <%= render 'favorites/favorite_button', post: @post %>
  </div>
  <div class="post-show">
    <div class="trim-post-image-lg">
      <%= render 'posts/post_image', post: @post %>
    </div>
  </div>
  <div class="post-show-content"><%= safe_join(@post.content.split("\n"), tag(:br)) %></div>
  <hr>
  <%= render 'comments/form', post: @post, comment: @comment %>
  <%= render 'comments/index', comments: @comments %>
</div>


