<div class="sticky-top">
  <ul class="menu d-flex justify-content-between">
    <li class="title-logo mr-auto"><a href="/">Minimal Life</a></li>
    <% if logged_in? %>
      <li class="navbar-item">
        <%=link_to new_post_path do %>
          <i class="fas fa-pen fa-lg"></i>
        <% end %>
      </li>
      <li class="navbar-item navbar-icon">
        <a class="init-bottom">
          <div class="trim-image-to-circle-navbar m-0">
            <% if current_user.image? %>
              <%= image_tag current_user.image.url %>
            <% elsif %>
              <%= image_tag ('/no_user_image.png') %>
            <% end %>
          </div>
        </a>
        <ul class="menu__second-level">
          <li><%= link_to 'マイページ', user_path(current_user) %></li>
          <li class="dropdown-divider m-0"></li>
          <li><%= link_to 'ユーザー情報編集', edit_user_path(current_user) %></li>
          <li class="dropdown-divider m-0"></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        </ul>
      </li>
    <% elsif %>
      <li class="navbar-item">
        <%=link_to signup_path do %>
          <i class="fas fa-user-plus fa-lg"></i>
        <% end %>
      </li>
      <li class="navbar-item">
        <%=link_to login_path do %>
          <i class="fas fa-sign-in-alt fa-lg"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


