<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>タイトル</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script> 
      $('.post-index').on('click', function(event) {
        const id = $(this).attr("id").replace("post-", "");
        if (event.target.tagName !== 'svg' && event.target.tagName !== 'A' && event.target.tagName !== 'path') {
          location.href = "/posts/" + id;
        }
      })

      $('.favorite_button').click(function (event) {
        event.stopPropagation();
      });
      
      
      $('.media').on('click', function(event) {
        const id = $(this).attr("id").replace("user-", "");
          location.href = "/users/" + id;
      })
      
      $('.follow_button').click(function (event) {
        event.stopPropagation();
      });
      
      $( document ).on('turbolinks:load', function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
       
            reader.onload = function (e) {
              $('#aavatar_img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
       
        $("#apost_img").change(function(){
          $('#aavatar_img_prev').removeClass('hidden');
          $('.aavatar_present_img').remove();
          readURL(this);
        });
      });
      
      $(function(){
      	$('.unfollow').hover(function(){
      		$(this).text('フォロー解除');
      		$(this).css('color', 'red');
      	},function(){
      		$(this).text('フォロー中');
      		$(this).css('color', 'white');
      	});
      });
      
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      })
    </script> 
    
  </body>
</html>